body {
  margin: 0;
  padding-top: 80px;
  min-height: 100vh;

  background-image: url("./assets/images/backgrounds/meadRack_straight_02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body::before {
  content: "";
  position: fixed;
  border: 2em;
  inset: 0;
  background: rgba(218, 141, 0, 0.110);
  z-index: -1;
}

header {
  position: fixed;
  background: rgba(190, 87, 2, 0.712);
  top: 0;
  width: 100%;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: center;
  gap: 16px;
}

button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 16px;
  cursor: pointer;
}

button:hover {
  background: white;
  color: black;
}

/* style rulls for content div */
#content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: min(90vw, 900px);
  aspect-ratio: 1 / 1;
  border-radius: 15px;
  

  margin: 3rem auto;

  background-color: rgba(228, 173, 23, 0.651);
}

@media (max-width: 600px) {
  #content {
    aspect-ratio: auto;
    width: 90vw;
    min-height: 70vh;
  }
}

h1 {
    color: rgb(22, 25, 58);
}


/* style for home and about pages */
.content-card {
    margin: 5%; 
}

.content-section {
    margin-bottom: 2rem;
}

.section-title {
    margin-bottom: .5rem;
}

.section-text {
    margin-bottom: 1rem;
}